<div class="row">
	<div class="col-xs-12">
		<form class="">
			<div class="row">
				<div class="col-sm-5 form-group">
					<label for="name">Name</label>
					<input class="form-control" type="text" id="name">
				</div>
				<div class="col-sm-2 form-group">
					<label for="amount">Amount</label>
					<input class="form-control" type="number" id="amount">
				</div>
				<div class="row">
					<div class="col-xs-12 px-4">
						<button class="btn mx-1 btn-success" type="submit">Add</button>
						<button class="btn mx-1 btn-danger" type="button">Delete</button>
						<button class="btn mx-1 btn-info" type="button">Clear</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>